*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh; 
    width: 100vw;
    overflow: hidden; 
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.7vw;
}

nav ul{
    display: flex;
    gap: 3vw;
    list-style: none;
    font-size: 1.3vw;
    color: gray;
}
nav li:last-child{
    background-color: #5f19f5;
    color: white;
    padding: 0.5vw 0.7vw;
    border-radius: 1.5vw;
}
.content{
    display: flex;
}
.left{
    padding: 5vw 1.7vw;
    /* height: 100vh; */
    width: 50vw;
}
.left h1{
   padding-bottom: 1vw;
    font-size: 4vw;
}
.left p{
   width: 25vw;
    font-size: 1.3vw;
    line-height: 2vw;
}
.left button{
    padding: 1vw 2vw;
     margin-top :2vw; 
     border-radius: 5vw;
     border: none;
     background-color: #5f19f5;
     color: white;
     font-weight: 600;
}
.right{
    width: 70vw;
}
.right img{
     width: 70vw; 
}


nav i{
    display: none;
}
@media (max-width:600px){
    nav i{
        display: initial;
    }
    nav ul{
        display: none;
    }
    .left h1{
        font-size: 8vw;
    }
    .left p{
        font-size: 4vw;
        width: 100vw;
        line-height: 4vw;
    }
    .left button{
        margin-top: 4vw;
        padding: 2vw 4vw;
    }
    .content{
        flex-direction: column-reverse;
    }
    .right img{
        width: 100vw;
    }
}