nav > i{
    display: none;
    font-size: 30px;
}


@media (max-width: 600px) {
    
    nav > i{
        display: initial;
    }
    .first{
        font-size: 30px;
    }
    nav > ul{
        display: none;
    }
    nav h1:last-of-type{
        display: none;
    }
    .left{
        width: 100%;

    }
    .right{
        width: 100%;
        position: absolute;
        top: 40%;
        left: 0;
    }
    .right p{
        padding: 20px;
        font-size: 30px;
    }
    .filler {
        height: 10vh;
    }
    .slider{
        padding-top: 40px;
    }
    .sliderinside span{
        font-size: 200px;
    }
    .sliderinside img{  
        height: 140px;
    }
    .page2 p{
        font-size: 25px;
    }
    .page3{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .page3 .left p{
        white-space: nowrap;
        font-size: 20px;
    }
    .page3 .center{
       width: 100%;
    }
    .page3 .center h1{
        font-size: 20px;
    }
    .page3 .center p{
        font-size: 15px;
    }
    .page3 .right2{
        font-size: 20px;
    }
    .page4content{
        padding: 50px;
        font-size: 50px;
        white-space: nowrap;
    }
    .page4 video{
        display: none;
    }
    .page5 div{
        display: flex;
        flex-direction: column;
    }
    .page5 .upper h1{
        font-size: 25px;
    }
    .page5 .upper p{
        padding-top: 20px;
        font-size: 20px;
    }
    .page5 h2{
        font-size: 110px;
    }
    .page6 h1{
        width: 100%;
    }